@page
@model Final_Project.Pages_VideoGames.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>VideoGame</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VideoGame.GameId" />
            <div class="form-group">
                <label asp-for="VideoGame.Title" class="control-label"></label>
                <input asp-for="VideoGame.Title" class="form-control" />
                <span asp-validation-for="VideoGame.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoGame.AvgCompletionTime" class="control-label"></label>
                <input asp-for="VideoGame.AvgCompletionTime" class="form-control" />
                <span asp-validation-for="VideoGame.AvgCompletionTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoGame.Genre" class="control-label"></label>
                <input asp-for="VideoGame.Genre" class="form-control" />
                <span asp-validation-for="VideoGame.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoGame.Price" class="control-label"></label>
                <input asp-for="VideoGame.Price" class="form-control" />
                <span asp-validation-for="VideoGame.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoGame.AvgRating" class="control-label"></label>
                <input asp-for="VideoGame.AvgRating" class="form-control" />
                <span asp-validation-for="VideoGame.AvgRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
