@page

<h1 class="display">Video Games</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               <!-- @Html.DisplayNameFor(model => model.VideoGame[0].Title) -->
            </th>
        </tr>
    </thead>
</table>